main {
    & > .mail {
        margin-bottom: 80px;
        z-index: 4;
        grid-column-start: 3;
        grid-column-end: 5;
        & > * {
            // z-index: 5;
        }
    }
}

@media only screen and (max-width: 980px) {

    main {
        & > .mail {
            position: absolute;
            z-index: 5;
            margin-top: -40px;
            margin-bottom: calc(100vh - 70px)s;
            & > * {
                z-index: 5;
            }
        }
    }

}