.slides-wrapper {
  min-height: 0;
  min-width: 0;

  position: absolute;
  width: 70%;
  height: calc(100% - 100px);
  left: 15%;
  top: 30px;

  // grid-column-start: 2;
  // grid-column-end: 7;
/*   .slick-slide {
    // margin: 0 10vw;
  } */
}

.slides {
  width: 100%;
  height: calc(100vh - 150px);
  .slick-list {
    overflow: visible;
  }
  .slide {
    display: flex;
    flex-flow: wrap;
    height: 100%;
    width: 100%;
    & > .text {
      height: 90px;
      margin-left: calc(60% + 20px);
      opacity: 0;
      transition: 400ms;
    }
  }
  img {
    max-height: calc(100vh - 240px);
    width: auto;
    max-width: 100%;
    margin: auto;
    &.img-prev {
      position: absolute;
      top: 90px;
      transform: translateX(-45vw);
      right: 35vw;
    }
    &.img-next {
      position: absolute;
      top: 90px;
      transform: translateX(45vw);
      left: 35vw;
    }
  }
}

.slick-current, .slick-active {
  .text {
    opacity: 1 !important;
  }
}

.slides-count {
  grid-column-start: 7;
  display: inline-flex;
  & > .current {
    width: 50%;
    font-size: 48px;
    margin-top: 19px;
  }
  & > .total {
    width: 50%;
    text-align: right;
  }
}

.scroll-overlay {
  position: absolute;
  width: 50vw;
  height: calc(100vh - 240px);
  top: 120px;
  z-index: 99;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &.prev {
    left: 0vw;
    cursor: w-resize;
  }
  &.next {
    left: 50vw;
    cursor: e-resize;
  }
}

@media only screen and (max-width: 980px) {
  .slides-wrapper {
    margin-top: -40px;
    height: 70vh;
    width: calc(100vw - 20px);
    overflow: hidden;

    position: relative;
    left: 0;
    top: 0;
  }
  .slides {
    height: 100%;
    top: 40px;
    padding-right: 20px;
    & > * {
        overflow: visible;
    }
    .slide {
      transform: scaleY(-1);
      flex-flow: column;
      & > .text {
        position: absolute;
        bottom: calc(50vh + 20px);
        left: 0;
        transform: scaleY(-1);
        margin: 0;
        width: 67vw;
      }
    }
    img {
      transform: scaleY(-1);
      height: auto;
      max-width: 100%;
      max-height: 50vh;
      &.img-prev {
        display: none;
      }
      &.img-next {
        display: none;
      }
    }
  }

  .slides-count {
    right: 20px;
    top: calc(50vh + 120px);
    position: absolute;
  }

  .scroll-overlay {
    position: absolute;
    width: calc(50vw - 20px);
    height: 50vh;
    top: 100px;
    z-index: 99;
    &.prev {
      left: 20px;
      cursor: w-resize;
    }
    &.next {
      left: 50vw;
      cursor: e-resize;
    }
  }
}
