main {
  & > .index {
    grid-column-start: 1;
    grid-column-end: 8;
    display: block;
    & > .header, a {
      display: grid;
      grid-template-columns: repeat(7,1fr);
      column-gap: 30px;
      & > span {
        grid-column-end: span 2;
      }
    }
    & > .header {
      padding-bottom: 0.5em;
    }
  }
}

@media only screen and (max-width: 980px) {
  main {
    & > .index {
      .header, a {
        & > span:nth-child(1),
        & > span:nth-child(1) {
          width: 75vw;
          grid-column-end: span 5;
        }
        & > span:nth-child(2),
        & > span:nth-child(2) {
          display: none;
        }
      }
    }
  }
}
